<header class="d-flex align-items-center justify-content-between p-3 border-bottom bg-white">
  <div>
    <h1 class="fw-bold m-0">TuSegundazo.com</h1>
    <img
    src="../assets/images/banner-segundazo.png.jpeg"
    alt="Comercialización de automotores nuevos y usados"
    class="img-fluid rounded shadow-sm"
  />
  </div>
</header>

<app-vehiculo-list></app-vehiculo-list>

<footer class=" text-center p-3 mt-4">
<p>{{ 'Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo' }}</p>
</footer>